body {
    color: skyblue;
    background-color: floralwhite;
}

.main-header {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    color: lightpink;
    font-family: fantasy;
    width: 80%;
    height: auto;
    
}



.header-image {
    
}

.header-img {
     margin: 0 auto;
    height: auto;
    width: 80%;
    margin: auto;
    display: block;
}

.form-signin {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    align-items: center;
    color:lightslategrey
}





h2 {
     align-content: center;
    margin: auto;
    
}

button {
     margin: 0px auto; 
    display: block;
    background-color: lightskyblue;
    font-size: 25px;
    width: 70px;
    height: 40px;
    color: white;
    transition: .5s ease;
    text-align: center;
    position: relative;
    top: 10%;
     cursor: pointer;
    
}

img {
     margin: 0 auto;
    height: auto;
    width: 80%;
    margin: auto;
    display: block;
}

#search {
    margin: 0 auto;
    text-align: center;
    align-content: center;
  
   
}

#headpic {
    margin: 0 auto;
    height: auto;
    width: 80%;
    margin: auto;
    display: block;
    
}

input {
     margin: 0 auto;
    text-align: center;
    align-content: center;
  
}
