

h1 {
    
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    color: lightpink;
    font-family: fantasy
    
}





.image-header {
    align-content: center;
    width: 80%;
}

.container {
    
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    color: blueviolet;
}

.btn-lg {
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: dodgerblue;
}



body {
     background-color: floralwhite;
}

button {
    margin: 0px auto; 
    display: block;
    background-color: lightskyblue;
    font-size: 25px;
    width: 100px;
    height: 50px;
    color: white;
    transition: .5s ease;
    text-align: center;
    position: relative;
    top: 20%;
     cursor: pointer;
    
}

.form-signin {
    margin: auto;
    text-align: center;
    
}

.form-control {
    margin: auto;
    text-align: center;
}

.form-signin-heading {
 margin: auto;
text-align: center;
color: aqua;
}

#my style {
    margin: auto;
    text-align: center;
    color: aqua;
    
}


